version: '3.8'

services:
  elasticsearch:
    image: elasticsearch:8.11.1  # <--- 修改这里
    container_name: es-node
    environment:
      - node.name=es-node
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - ./es_data:/usr/share/elasticsearch/data
      - ./plugins:/usr/share/elasticsearch/plugins
    networks:
      - es-net

  kibana:
    image: kibana:8.11.1         # <--- 修改这里
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - I18N_LOCALE=zh-CN
    depends_on:
      - elasticsearch
    networks:
      - es-net

volumes:
  es_data:

networks:
  es-net:
    driver: bridge